{% extends "base.jinja2" %}

{% block content %}
<main>
    <h1 class="greeting">{{ greeting }}!</h1>

    <div class="stats-grid">
        {% for stat in stats %}
        {% set title = stat.title %}
        {% set percentage = stat.percentage %}
        {% include 'partials/_stat_card.jinja2' %}
        {% endfor %}
    </div>
</main>

{% if show_weather %}
    {% include 'partials/_weather_panel.jinja2' %}
{% endif %}
{% endblock %}
