{% extends "base.jinja2" %}

{% block content %}
<main class="settings">
    <h1 class="greeting">Settings</h1>

    <div class="card settings-container">
         <form action="{{ url_for('api.update_settings') }}" method="POST" class="settings-form">
            <div class="input-area">
                <div class="input-area-label">
                    <label for="interval" class="settings-input-label"></label>
                    <h1 class="settings-title">Update Interval</h1>
                    <p class="settings-description">The interval at which to update the statistics.</p>
                </div>
                <div class="input-area-data">
                    <input type="number" id="interval" name="interval" value="{{ interval }}" min="1" max="60"
                    class="interval-setting">
                </div>
            </div>

            <hr/>

            <div class="input-area">
                <div class="input-area-label">
                    <label for="weather" class="settings-input-label"></label>
                    <h1 class="settings-title">Show Weather</h1>
                    <p class="settings-description">Show the weather. Based on your IP address.</p>
                </div>

                <div class="input-area-data">
                    <label class="switch">
                        <input id="weather" name="weather" type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <hr/>

            <div class="input-area">
                <div class="input-area-label">
                    <label for="search-engine" class="settings-input-label"></label>
                    <h1 class="settings-title">Search Engine</h1>
                    <p class="settings-description">The search engine to use for queries. Use %s to insert the query.</p>
                </div>
                <div class="input-area-data">
                    <input type="text" id="search-engine" class="search-engine-setting" name="search-engine" value="{{ search_engine }}"
                        class="search-engine-setting">
                </div>
            </div>

            <hr/>

            <button class="settings-submit-button nav-link active" type="submit">
                Save Changes
            </button>
        </form>
    </div>
</main>

<script>
    const True = true;
    const False = false;
    const weatherCheckbox = document.getElementById("weather");
    weatherCheckbox.checked = {{ weather }};
</script>
{% endblock %}
